@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.container {
  margin: 24px 310px;
}

.header {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;


  display: flex;
  flex-direction: column;

  .header__high-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .header__left-group {
      width: 348px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__contacts-location {
        p {

          &::before {
            content: url("../img/Location.svg");
            margin-right: 10px;
            vertical-align: middle;
          }

          &::after {
            content: url("../img/down-arrow.svg");
            margin-left: 9px;
            vertical-align: middle;
          }
        }

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
      .header__contacts-phone {
        p {
          &::before {
            content: url("../img/Phone.svg");
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }

    .header__right-group {
      display: flex;
      justify-content: space-between;
      width: 293px;

      .header__login-registration {
        display: flex;
        width: 109px;
        align-items: center;

        .header__vertical-line {
          border: 1px solid #303030;
          height: 10px;
          margin: 0 10px;
        }
      }
    }

    .header__main-logo {
      align-self: flex-start;
      display: inline-flex;
      flex-direction: column;
      align-content: center;

      h1 {
        display: block;
        font-family: Prata, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 6px;

        span {
          color: #E1A661;
          font-weight: 400;
        }
      }

      h3 {
        display: block;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;

        letter-spacing: 0.27em;

        color: #919191;
      }
    }

    .header__utility-buttons {
      max-width: 116px;

        .header__favorite {
          position: relative;

          mark {
            border-radius: 20px;
            border: 2px solid #FFF;
            width: 20px;
            height: 20px;
            background-color: #E46942;
            position: absolute;
            top: -10px;
            right: -10px;
            font-family: Inter, sans-serif;
            font-size: 10px;
            line-height: 100%;
            color: #FFFFFF;
            text-align: center;
            vertical-align: center;

            div {
              margin-top: 3px;
            }
        }
      }

      .header__chart {
        margin: auto;
      }
    }
  }
}



